div#scanner-container {
    font-family: helvetica;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #000000;
    opacity: 0.8;
    display: none;
    justify-content: center;
    align-items: center;
}


div#community span {
    position: relative;
    color: white;
    font-size: 39px;
    font-weight: 900;
}

#video {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	padding: 0;
	margin: 0;
	height: 100%;
	object-fit: cover;
}

.footer-controls {
	position: fixed;
	bottom: 96px;
	left: 0;
	width: 100vw;
	height: 8vh;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 15px 15px 0 0 ;
    z-index: 1;
    display: flex;
    justify-content: center;
}

div.holder-cam-controls {
    position: relative;
    width: 90%;
    justify-content: space-between;
    display: flex;
	align-items: center;
}
.file-input {
	display: none;
}

#uploadImage , #clear{
	width: 45px;
	height: 45px;
	font-size: larger;
	font-weight: 800;
	background-color: transparent;
	color: red;
	border: none;
}


#startbutton {
	padding: 17px;
	background-color: white;
	border-radius: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #0d9c9b;
	font-weight: bold;
	border: none;
	font-size: larger;
}

#startbutton:hover {
	box-shadow: 0 0 5px lime;
	transform: scale(1.1);
}

div.container-res {
	width: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	left: 0;
	height: 100%;
	right: 0;
	padding: 0;
	z-index: 22;
}

div.card-res {
	position: absolute;
	left: 50%;
	right: 50%;
	width: 25vw;
	padding: 1rem;
	height: 50vh;
	background-color: white;
	border-radius: 15px;
	display: flex;
	margin: 0;
}


div.result-container {
    font-family: helvetica;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    animation: animate-result 1s; 
    animation-fill-mode: forwards;
    flex-direction: column;
}

div.result-hide-container {
	font-family: helvetica;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    animation: animate-hide-result 1s; 
    animation-fill-mode: forwards;
    flex-direction: column;
}

img#uploadImage, img#reset {
    width: 50px;
    height: 50px;
	
    filter: invert(97%) sepia(3%) saturate(0%) hue-rotate(274deg) brightness(104%) contrast(104%);
}

i.file-label {
	padding: 8px;
	background-color: white;
}

img#previewImage, canvas#canvas {
	display: none;
}

div.result-image {
	width: 100%;
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.result-footer {
	width: 100%;
	height: 10%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.result-footer img {
	width: 70px;
	height: 40px;
	transform:rotateX(-180deg)
}
@keyframes animate-result {
    from {
		height: 0vh;
        transform: translateY(100%);
    }to {
		height: 100vh;
        transform: translateY(0%);
    }
}
@keyframes animate-hide-result {
    from {
		height: 100vh;
        transform: translateY(0%);
    }to {
		height: 0vh;
        transform: translateY(100%);
    }
}
