div#scanner-container {
    font-family: helvetica;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #000000;
    opacity: 0.8;
    display: none;
    justify-content: center;
    align-items: center;
}

div.camera {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#community span {
    position: relative;
    color: white;
    font-size: 39px;
    font-weight: 900;
}

#video {
	position: fixed;
	top: 150px;
	left: 0;
	width:100%;
	padding: 0;
	margin: 0;
	height: 75%;
	object-fit: fill;
	border-radius: 25px;
}

.footer-controls {
	position: fixed;
	bottom: 96px;
	left: 0;
	width: 100vw;
	height: 280px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 15px 15px 0 0 ;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.holder-cam-controls {
    position: relative;
    width: 90%;
    justify-content: space-between;
    display: flex;
	align-items: center;
}

.file-input {
	display: none;
}

#uploadImage , #clear, span.shutter_inner {
	width: 65px;
	height: 65px;
	font-size: larger;
	font-weight: 800;
	background-color: transparent;
	border: none;
    position: relative;
    z-index: 2;
}


#startbutton {
	padding: 17px;
	background-color: white;
	border-radius: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #0d9c9b;
	font-weight: bold;
	border: none;
	font-size: larger;
}

#startbutton:hover {
	box-shadow: 0 0 5px lime;
	transform: scale(1.1);
}


div.result-container {
    font-family: helvetica;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    padding: auto;
    z-index: 2;
    align-items: center;

    animation: animate-result 1s; 
    animation-fill-mode: forwards;
    flex-direction: column;
}

div.result-hide-container {
	font-family: helvetica;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 2;
    animation: animate-hide-result 1s; 
    animation-fill-mode: forwards;
    flex-direction: column;
}

img#uploadImage, img#reset {
    width: 65px;
    height: 65px;
	opacity: .7;
    filter: invert(97%) sepia(3%) saturate(0%) hue-rotate(274deg) brightness(104%) contrast(104%);
}

i.file-label {
	padding: 8px;
	background-color: white;
}

img#previewImage, canvas#canvas {
	display: none;
	width: 80%;
	height: max-content;
}

div.result-image {
    margin-top: 100px;
	width: 100%;
	height: 40%;
	display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

div.result-footer {
	width: 100%;
	height: 10%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.result-footer img {
	width: 70px;
	height: 40px;
	transform:rotateX(-180deg)
}


span.shutter_inner {
    padding: 50px 60px 50px 60px;
    background-color: limegreen;
    border-radius: 50%;
	width: 140px;
	height: 140px;
}

span.shutter_inner:hover {
    background-color: lime;
}

@keyframes animate-result {
    from {
		height: 0vh;
        transform: translateY(100%);
    }to {
		height: 100vh;
        transform: translateY(0%);
    }
}
@keyframes animate-hide-result {
    from {
		height: 100vh;
        transform: translateY(0%);
    }to {
		height: 0vh;
        transform: translateY(100%);
    }
}

.shutter_inner {
    animation: pulse 2s ease-out infinite;
}

.shutter_inner::after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    border-radius: 50%;
    position: absolute;
  }
  
  @keyframes pulse {
    0% { box-shadow: 0 0 0 0px rgb(0, 255, 17),0 0 0 0px rgba(0, 255, 60, 0.85);  }
    50% { transform: scale(1.2); }
    100% { box-shadow: 0 0 0 15px rgba(0,210,255,0),0 0 0 30px rgba(0,210,255,0); }
  }
  

  #camera-effects {
      position: absolute;
      z-index: 1;
      width: 85%;
      transform: translateY(-110px);
      animation: cam .6s;
      animation-fill-mode: forwards;
      animation-delay: 1.4s;
  }

  @keyframes cam {
      0% { width: 85%; height: 35%;}
      20% { width: 85%; height: 40%;}
      40% { width: 85%; height: 45%;}
      60% { width: 85%; height: 50%;}
      80% { width: 85%; height: 55%;}
        100% { width: 85%; height: 60%;}
  }

  button.switch {
      position: absolute;
      top: 150px;
      z-index: 1;
      right: 30px;
      padding: 30px 50px;
  }