:root{
   --primary-color:#0D6FFA;
   --accent-color:#49CE95;
   --danger-color:#EC3582;
   --fore-color:rgba(0,0,0,0.65);
   --main-cast-shadow: 0px 3px 12px rgba(0, 0, 0, 0.08), 0px 3px 6px rgba(0, 0, 0, 0.12);
}

body, html{
   background-color:#F5F5F5;
   margin: 0 !important;
   padding: 0 !important;
   --webkit-tap-highlight-color: transparent;
   font-family: Helvetica;
   overflow: hidden;
}

div.nav {
   position: absolute;
   bottom: 0;
   margin: auto;
   width: 100%;
}

 .sc-bottom-bar{
   position:fixed;
   display:flex;
   padding: 8px 4px;
   justify-content: space-around;
   width: 100%;
   bottom:0;
   height: 110px;
   font-size:30px;
   background-image:radial-gradient(circle at 80px 27px,transparent 80px, #ffffff 27px);
   filter: drop-shadow(0px -1px 6px  rgba(0, 0, 0, 0.08)) drop-shadow(0px -2px 12px  rgba(0, 0, 0, 0.12));
   transition: cubic-bezier(0.57, 0.23, 0.08, 0.96) .45s;
 }
 
 .sc-nav-indicator{
   position:absolute; 
   width: 140px;
   height: 140px;
   bottom: 30px;
   margin:auto;
   left:0;
   background-color: limegreen;
   box-shadow: var(--main-cast-shadow);
   border-radius:50%;
   transition: cubic-bezier(0.45, 0.73, 0, 0.59) .3s;
 }

 .cam-indicator {
  animation: pulse 2s ease-out infinite;
 }

 .sc-menu-item{
   color:var(--fore-color);
   transition:ease-in-out .5s;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .sc-current{
   position:relative;
   color:#ffffff;
   z-index:3;
   transform:translate3d(0px,-35px,0px);
 }
 
 img#scanner, i.nav-item {
   transform: scale(1.8);
 }

 img#scanner {
   width:34px;
   height:34px;
 }

img.scan-selected {
   filter: invert(100%) sepia(0%) saturate(489%) hue-rotate(21833deg) brightness(12223%) contrast(102%);
}

span.nav-title {
   position: absolute;
   bottom: 5px;
   display: block;
   font-size: 24px;
   transition: all .3s ease-in-out;
}

span.hidden {
   display: none;
}

.cam-indicator::after {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  border-radius: 50%;
  position: absolute;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0px rgba(0,210,255,1),0 0 0 0px rgba(0,210,255,0.85);  }
  50% { transform: scale(1.2); }
  100% { box-shadow: 0 0 0 15px rgba(0,210,255,0),0 0 0 30px rgba(0,210,255,0); }
}

img.fungus { filter: hue-rotate(120deg); }