html{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	overflow: hidden;
}
#video {
	position: absolute;
	top: 0;
	left: 0;
	width:100vh;
	height:100vw;
}
  

#canvas {
	position: absolute;
	top: 0;
	left: 0;
	width:100vh;
	height:100vw;
}
  
.camera {
	width: 340px;
	display:inline-block;
}
  
.contentarea {
	font-family: "Lucida Grande", "Arial", sans-serif;
	width: 100vw;
	height: 100vh;
}

.footer-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 20vh;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px 15px 0 0 ;
}

#startbutton {
	padding: 17px;
	background-color: #00203FFF;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ADEFD1FF;
	font-size: 2em;
	font-weight: bold;
	border: none;
}